@main-color: #1175b7;
@btn-color: #f6a937;
@text-color: #414141;
@caption-text-color: #777;
@block-color: #038fd6;
@light-bg-color: #f9f5f2;

html {
	font-size: 10px;
}

button:focus {
	outline: none;
}

.text(@fs: 1.8rem, @fw: 400, @color: @text-color, @ff: 'Josefin Sans') {
	font-family: @ff, sans-serif;
	font-size: @fs;
	font-weight: @fw;
	color: @color;
}

.main-btn(@py: auto, @px: auto) {
	display: inline-block;
	.text(1.8rem, 600, white);
	background-color: @btn-color;
	padding: @py @px;
	border: none;
	// outline: 0 none !important;
	border-radius: 4px;
	text-align: center;
	&:hover {
		background-color: @main-color;
		transition: all 0.2s;
		text-decoration: none;
	}
	&:active {
		background-color: darken(@main-color, 5%);
	}
}

.navbar {
	min-height: 120px;
	&-brand {
		.text(3.2rem, 700, @main-color);
		color: @main-color !important;
		span {
			color: @btn-color;
		}
	}
	ul > li {
		font-size: 1.8rem;
		font-weight: 400;
		a {
			display: inline-block;
			.text(1.8rem, 600, @main-color, "Raleway");
			color: @main-color !important;
			&:hover {
				color: @btn-color !important;
			}
		}
	}
	&-btn {
		.main-btn(12px, 22px);
		display: inline-block;
		&:hover {
			color: white;
			text-decoration: none;
		}
	}
}

.banner {
	text-align: center;
	background: rgba(17,85,130,0.4) url(../img/banner.jpg) center center no-repeat;
	background-blend-mode: multiply;
	height: 800px;
	background-size: cover;
	position: relative;
	&-content {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		color: white;
		p {
			.text(2.7rem, 400, white, "Raleway");
			margin-bottom: 25px;
		}
		h1 {
			.text(5.9rem, 900, white);
			margin-bottom: 35px;
		}
		button {
			.main-btn(12px, 38px);
		}
	}
}

.about-us {
	margin: 120px auto;
	.container {
		position: relative;
	}
	.block-image {
		// max-width: 650px;
		background-image: url(../img/about-us-cleaner.jpg);
		background-position: bottom;
		/* position: relative;
		overflow: hidden;
		img {
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			width: 100%;
		} */
	}
	.block-info {
		background: @block-color;
		// width: 540px;
		// padding: 145px 52px 112px 65px;
		.content {
			position: absolute;
			left: 0;
			top: 55%;
			transform: translateY(-50%);
			margin: auto 60px;
		}
		hr {
			width: 30px;
			height: 3px;
			background-color: @btn-color;
			// text-align: left;
			margin: 0 0 0 auto;
		}
		&-subtitle {
			.text(1.8rem, 600, white, 'Raleway');
			margin-bottom: 5px;
			display: inline-block;
			position: relative;
			&:before {
				display: inline-block;
				content: '';
				width: 30px;
				border: 2px solid @btn-color;
				position: absolute;
				// top: -50%;
				transform: translateY(-400%);
				left: 0;
			}
		}
		h2 {
			.text(4.3rem, 600, white, 'Raleway');
			margin-bottom: 33px;
		}
		span {
			.text(1.8rem, 400, white);
		}
	}
}

.block-image {
	height: 748px;
	background-size: cover;
	background-repeat: no-repeat;
}

.block-info {
	display: inline-block;
	box-sizing: content-box;
	position: absolute;
	top: 0;
	right: 0;
	height: 540px;
	border-left: 30px solid white;
	border-bottom: 30px solid white;
}

.block-phone {
	box-sizing: content-box;
	position: absolute;
	// width: 445px;
	height: 179px;
	background: @btn-color;
	border-left: 30px solid white;
	bottom: 0;
	right: 0;

	.content {
		position: absolute;
		width: 310px;
		top: 55%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
	
	img {
		width: 59px;
		height: 59px;
		display: inline-block;
		float: left;
		margin-right: 25px;
	}
	p {
		.text(1.8rem, 700, white, 'Raleway');
		margin-top: -5px;
		display: inline-block;
	}
	span {
		.text(3.5rem, 700, white);
		margin-top: -12px;
		display: inline-block;
	}
}

.section-subtitle {
	text-align: center;
	padding-top: 120px;
	padding-bottom: 60px;
	h2 {
		.text(4.3rem, 600, @text-color, 'Raleway');
		margin: 0;
	}
	span {
		.text(1.8rem, 400, @caption-text-color);
	}
	hr {
		width: 60px;
		height: 2px;
		background-color: @btn-color;
		margin: 14px auto 18px;
	}
}

.our-services {
	background-color: @light-bg-color;
	padding-bottom: 120px;
	.container {
		.section-subtitle {
			h2 {
				margin-top: 5px;
			}
			span {
				.text(1.8rem, 600, @btn-color, 'Raleway');
			}
		}
		.service-block {
			display: inline-block;
			background-color: white;
			margin: auto 15px;
			max-width: 350px;
			padding: 0;
			box-shadow: 0 2px 10px 1px rgba(163, 163, 163, 0.1);
			.desc {
				width: 350px;
				padding: 40px 30px;
				img {
					width: 71px;
					margin-bottom: 15px;
					opacity: 0.4;
				}
				h3 {
					.text(2.2rem, 700, @text-color, 'Raleway');
					margin-bottom: 15px;
				}
				span {
					.text(1.6rem, 400, @caption-text-color);
				}
			}
		}
	}
}

.arrow {
	position: absolute;
	top: 50%;
	border: none;
	z-index: 5;
	width: 5rem;
	height: 5rem;
	border-radius: 100%;
	background-color: white;
	svg {
		width: 2rem;
		height: 2rem;
	}

	&:hover, &:active {
		outline: 0 none;
		background-color: @block-color;
		path {
			fill: white;
		}
	}
	&:active {
		background-color: darken(@block-color, 5%);
	}

}

.left {
	left: 0;
	transform: translateX(-150%) translateY(-50%);
	svg {
		transform: translateX(-5%);
	}
}

.right {
	right: 0;
	transform: translateX(150%) translateY(-50%);
	svg {
		transform: translateX(5%);
	}
}

.services-slider .slick-center {
	transition: background-color 0.5s, color 0.5s;
	background-color: @block-color !important;
	// color: white !important;
	h3, span {
		color: white !important;
	}
	.desc img {
		filter: invert(100%);
		opacity: 1 !important;
	}
}

.overview {
	background-color: @block-color;
	padding-top: 50px;
	padding-bottom: 100px;
	// padding: 100px auto;
	.content {
		// display: inline-block;
		// padding: 100px auto;
	}
	&-wrap {
		// display: inline-block;
		text-align: center;
		margin-top: 50px;
		// margin-bottom: 50px;
		img {
			display: block;
			margin: auto auto;
			text-align: center;
			height: 61px;
			margin-bottom: 30px;
		}
		span {
			display: inline-block;
			.text(2.7rem, 600, white);
			line-height: 30px;
		}
		&:after {
			display: inline-block;
			position: absolute;
			top: 0;
			right: 0;
			content: '';
			width: 1px;
			height: 145px;
			opacity: 0.5;
			background-color: #f0d5b5;
		}
		&:last-child:after {
			display: none;
		}
	}
}

.why-choose-us {
	padding-top: 120px;
	.container {
		position: relative;
	}
	.block-image {
		background-image: url('../img/why-choose-us-cleaner.jpg');
		// width: 475px;
		height: 630px;
		background-position: 45% 50%;
	}
	.block-text {
		position: absolute;
		bottom: 0;
		left: 50%;
		background-color: white;
		.subtitle {
			.text(1.8rem, 600, @block-color, 'Raleway');
			margin-bottom: 18px;
			padding-top: 30px;
			display: inline-block;
			position: relative;
			&:before {
				display: inline-block;
				content: '';
				width: 30px;
				border: 2px solid @btn-color;
				position: absolute;
				// top: -50%;
				transform: translateY(-400%);
				left: 0;
			}
		}
		h2 {
			.text(4.3rem, 600, @block-color, 'Raleway');
			line-height: 55px;
			margin-bottom: 45px;
		}
		ul {
			padding-left: 0px;
			list-style-type: none;
		}
		ul > li {
			.text(2rem);
			margin-bottom: 13px;
			margin-left: 25px;
			position: relative;
			&:before {
				content: '';
				background-image: url('../img/check-box-with-check-sign.svg');
				background-repeat: no-repeat;
				background-size: 12px 12px;
				display: inline-block;
				height: 12px;
				width: 12px;
				position: absolute;
				top: 23%;
				transform: translateX(-200%);
			}
		}
		.block-certified-company {
			// .main-btn(30px, 28px);
			background-color: @btn-color;
			width: 270px;
			padding: 28px 28px 28px 15px;
			margin-top: 45px;
			border-radius: 3px;
			img {
				text-align: left;
				height: 46px;
				margin-right: 19px;
				float: left;
			}
			span {
				// display: inline-block;
				.text(1.8rem, 700, white, 'Raleway');
				line-height: 24px;
			}
		}
	}
}

.block-subtitle {
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 48px;
	h2 {
		margin-bottom: 23px;
	}
	span {
		line-height: 24px;
	}
	span:after {
		content: '';
		position: absolute;
		width: 60px;
		height: 2px;
		background-color: @btn-color;
		bottom: 12%;
		left: 50%;
		transform: translateX(-50%);
	}
}

.our-projects {
	nav {
		display: flex;
		justify-content: center;
		margin-bottom: 35px;
		.active {
			background: @btn-color;
			color: white;
		}
		a {
			.text(1.8rem, 600, @text-color);
			padding: 8px 12px;
			border-radius: 4px;
			text-decoration: none;
			// margin-left: 5px;
			margin-right: 3px;
		}
		a:first-child {
			margin-left: 0px;
		}
		a:last-child {
			margin-right: 0px;
		}
	}
	.tab-content {
		div  {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			img {
				width: 350px !important;
				height: auto;
				margin-right: 30px;
				margin-bottom: 30px;
			}
			img:nth-child(3n) {
				margin-right: 0px;
			}
		}
	}
}

@media(max-width: 1199px) {
	.why-choose-us {
		.block-image {
			height: 700px;
			background-position: 40% 50%
		}
		.block-text {
			left: 45% !important;
		}
	}
	.tab-content {
		div {
			// display: relative !important;
			flex-wrap: nowrap !important;
			img:nth-child(n){
				margin-left: 15px !important;
				margin-right: 15px !important;
				width: 50% !important;
			}
			/* img:nth-child(3n) {
				margin-right: 30px !important;
			}
			img:nth-child(2n) {
				margin-right: 0px !important;
				// margin-right: auto !important;
			}
			img:nth-child(2n-1) {
				// margin-left: auto !important;
			} */
		}
	}
	/* .tab-content {
		div {
			flex-wrap: nowrap !important;
			img {
				width: 82vw !important;
				height: auto !important;
			}
			img:nth-child(3n) {
				margin-right: 30px !important;
			}
		}
	} */
}

@media(max-width: 991.5px) {
	.overview-wrap:nth-child(2n):after {
		display: none;
	}
	.why-choose-us {
		background: url('../img/why-choose-us-cleaner.jpg') center center no-repeat;
		background-size: cover;
		padding-top: 60px;
		padding-bottom: 60px;
		.block-image {
			display: none;
		}
		.block-text {
			opacity: 0.85;
			position: relative;
			left: 0 !important;
			top: 0 !important;
		}
		.block-certified-company {
			display: inline-block;
			margin-bottom: 30px;
			width: 100%;
		}
	}
	.block-certified-company {
		width: 100% !important;
		height: 100px !important;
		position: relative;
		margin-top: 30px !important;
		.block-wrap {
			width: 227px;
			margin: auto auto;
		}
	}
	.tab-content {
		div {
			img:nth-child(n) {
				width: 80% !important;
			}
		}
	} 
}

@media(max-width: 767px) {
	.banner {
		background-position: 17%;
	}
	.about-us {
		background: url('../img/about-us-cleaner.jpg') 5% 60% no-repeat;
		background-size: cover;
		margin: 0 auto;
		padding: 60px 0px;
	}
	.block-image {
		display: none;
	}
	.block-info, .block-phone {
		box-sizing: border-box;
		border: 0;
		position: relative;
		opacity: 0.8;
	}
	.block-info {
		margin-bottom: 30px;
	}
	.section-subtitle {
		padding-top: 60px;
		padding-bottom: 30px !important;
	}
	.our-services {
		padding-bottom: 60px;
	}
	.overview {
		padding-top: 0px;
		padding-bottom: 50px;
		.overview-wrap:after {
			display: none;
		}
	}
	.our-projects {
		.ft-tab {
			.text(1.8rem, 600, @text-color);
			text-decoration: none;
			text-align: center;
			border-radius: 4px;
			padding: 8px 0;
			margin: 5px 0;
		}
		.active {
			background: @btn-color;
			color: white;
		}
		.tab-content {
			div {
				img:nth-child(n) {
					width: 100% !important;
					min-height: 100% !important;
					margin: 0px !important;
				}
			}
		}
	}

}

@media (max-width: 575px) {
	.banner {
		height: 600px;
	}
	.banner-content {
		p {
			font-size: 100vw / 20rem;
		}
		h1 {
			font-size: 100vw / 10rem;
		}
	}
	.block-info .content h2 {
		font-size: 3.5rem;
	}
	.block-phone {
		.content {
			width: 280px;
		}
		span {
			font-size: 3rem;
		}
	}
	.about-us {
		background-position: 20% 48%;
		.block-info {
			height: 100%;
			 .content {
			 	position: relative;
				margin: 50px 20px;
				transform: translateX(0) translateY(0);
			}
		}
	}
	.block-phone {
		height: 120px;
	}
	.why-choose-us {
		background-position: 32% 50%;
	}
}

@media (max-width: 424px) {
	.service-block {
		width: 83vw;
		img {
			width: 83vw;
		}
		.desc {
			width: 83vw !important;
		}
	}
}

@media (max-width: 374px) {
	.service-block {
		width: 90vw;
		img {
			width: 90vw;
		}
		.desc {
			width: 90vw !important;
		}
	}
}