// Colors
@text-color: #424242;
@approuch-bg-color: #f3f3f3;
@form-features-color: #de2b24;
@block-color: #f35e59;
@fb-anal-bg-color: #1287bf;
@bot-bg-color: #2a2a2a;
@footer-color: #515151;
@btn-color: #f8cd53;

// Settings
html {
	font-size: 10px;
}

input {
	&:focus {
		outline: none;
	}
}

.text(@fs: 1.4rem, @fw: 100, @tc: @text-color, @font: 'Helvetica Neue') {
	font-family: @font, sans-serif;
	font-size: @fs;
	font-weight: @fw;
	color: @tc !important;
}


.input() {
	display: inline-block;
	.text(14px, 400, @text-color);
	width: 65%;
	height: 50px !important;
	border-radius: 2px;
	margin-bottom: 10px;
	border: 1px solid #d8d8d8;
	padding-left: 15px;
	&:active {
		border: 1px solid #1287bf;
		box-shadow: 0 0 5px rgba(18, 135, 191, 0.66);
	}
}

.input-btn() {
	display: inline-block;
	text-align: center;
	.text(1.5rem, 700, white);
	text-transform: uppercase;
	// padding: 15px 25px;
	width: 161px;
	height: 46px;
	border-radius: 4px;
	background-color: @form-features-color;
	&:hover {
		background-color: darken(@form-features-color, 5%);
	}
	margin: 30px auto 60px;
}

.cross {
	img {
		position: absolute;
		left: 100%;
		transform: translateX(-50%) translateY(-45%);
	}
	span {
		position: absolute;
		.text(3.2rem, 300, white);
		width: 49px;
		height: 49px;
		margin: 0px;
		left: 100%;
		transform: translateX(-50%) translateY(-50%);
	}
}

.br() {
	border: 2px solid blue;
}

.header-navbar {
	z-index: 20;
	position: fixed;
	width: 100%;
	top: 0;
	transition: all 0.3s;
	.brand {
		&-.logo {
			// margin-left: 10px;
			// display: flex;
			// vertical-align: bottom;
			// float: left;
		}
		&-text-block {
			display: inline-block;
		}
		&-header {
			.text(3.7rem, 700);
			display: inline-block;
			margin: -15px 0;
		}
		&-subhead {
			.text(1.5rem, 400);
			display: block;
		}
	}

	ul {
		& > li a {
			.text(1.5rem, 700);
			// margin: 0 8px;
		}
		.divider:after {		
			.text(1.5rem, 700);
			@media (min-width: 992px) {
				content: "•";
			}
			content: "";
		}
	}

	.header-btn {
		.text(1.5rem, 700, white);
		background-color: @form-features-color;
		padding: 6px 22px;
		&:hover {
			background-color: darken(@form-features-color, 5%);
		}
	}
}

.banner {
	padding: 0px 0;
	margin-top: 100px;
	background: #fff url(../img/banner.jpg) center center no-repeat;
	background-size: cover;
	// opacity: 0.8;
	// height: 650px;
	// background-size: auto 590px;
	@media (min-width: 992px) {
		// background-size: 100% auto;
	}
	h1 {
		padding-top: 187px;
		strong {
			.text(4.8rem, 700, white);
		}
		span {
			.text(3rem, 300, white);
		}

	}
	button {
		.text(2.3rem, 700, white);
		text-transform: uppercase;
		padding: 20px 40px;
		background-color: @btn-color;
		margin: 32px 0 260px;
		border-radius: 5px;
		&:hover {
			background-color: darken(@btn-color, 5%);
		}
	}
	// background-size: cover;
}

.popup {
	display: none;
	z-index: 10;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	&-content {
		text-align: center;
		background-color: white;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		border-radius: 5px;
	}
	&-close {
		position: absolute;
		top: 0;
		right: 0;
		background-color: transparent;
		// border: none;
		width: 0px;
		height: 0px;
		font-size: 3rem;
		&:focus {
			outline: 0 none !important;
		}
		.cross();
	}
	&-header {
		.text(2rem, 500);
		margin: 20px auto;
	}
	&-form {
		.form-input {
			input {
				.input();
				width: 90%;
			}
		}
		.form-btn {
			input {
				.input-btn();
				width: 60%;
				margin: 10px auto 30px;
			}
		}
	}
}

// Заголовок страниц
section {
	padding-top: 100px;
	padding-bottom: 100px;

	.section-subtitle {
		display: inline-block;
		
		h2 {
			.text(3.6rem, 700);
			margin: 0;
		}
		span {
			.text(2rem, 300);
		}
		hr {
			width: 47px;
			height: 5px;
			background-color: @text-color;
			margin: 15px auto 15px;
			text-align: center;
		}
	}
}

.services {
	.content {
		// margin-bottom: 119px;
		text-align: center;
		.service-block {
			text-align: center;
			img {
				display: block;
				margin: 28px auto 28px;
			}
			h3 {
				.text(2.2rem, 700);
				margin-bottom: 21px;
			}
			span {	
				display: inline-block;
				width: 310px;
				.text(1.4rem, 400);
			}
		}
	}
}

.slick-active {
	outline: none;
}

.arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	border: none;
	z-index: 5;
	width: 2rem;
	height: 2rem;
	&:focus {
		outline: none;
		background-color: red;
	}
}

.left {
	left: 0;
	background: url(../img/left-arrow.svg) center no-repeat;
	background-size: 100%;
}

.right {
	right: 0;
	background: url(../img/right-arrow.svg) center no-repeat;
	background-size: 100%;
}

.approuch {
	background-color: @approuch-bg-color;

	.approuch-block {
		display: inline-block;
		// display: table;
		// position: relative;
		text-align: left;
		margin-top: 40px;
		border-radius: 5px;
		background-color: white;

		.approuch-block-img {
			display: inline-block;
			position: relative;
			float: left;
			max-height: 236px;

			.inside-block {
				position: absolute;
				display: table;
				width: 101px*100%/339px;
				border: 2px solid white;
				border-radius: 5px;
				background-color: @form-features-color;
				
				.block-step {
					display: table-cell;
					text-align: center;
					vertical-align: middle;
					&-number {
						.text(6rem, 700, white, Open Sans);
						margin: -2rem 0 -3rem;
					}
					span {
						display: inline-block;
						margin-top: 5px;
						.text(2rem, 400, white, Helvetica);
					}
				}
			}
			.block-left {
				top: 50%;
				left: 0%;
				transform: translateX(-50%) translateY(-50%);
			}
			.block-right {
				top: 50%;
				right: 0%;
				transform: translateX(50%) translateY(-50%);
			}
		}
		
		.block-text {
			vertical-align: middle;
			display: inline-block;			
			// .br();
			h3 {
				.text(1.8rem, 800);
				line-height: 2.6rem;
			}
			span {
				display: inline-block;
				.text(1.4rem, 400, @text-color, 'Open Sans');
				line-height: 2.2rem;
				// margin-right: 72px;
			}
		}
		
	}
}

.work {
	background-color: @form-features-color;
	.section-subtitle {
		margin-bottom: 45px;
		h2, span, hr {
			color: white !important;
		}
		hr {
			background-color: white;
		}
	}
	&-board {
		.block-container {
			height: 253px;
			width: 255px;
			overflow: hidden;
			display: inline-block;
			.board-box {
				display: inline-block;
				height: 253px;
				width: 255px;
				background-color: @block-color;
				position: relative;
				.work-block {
					position: absolute;
					display: inline-block;
					width: 200px;
					height: 120px;
					margin-top: -120px / 2;
					top: 50%;
					margin-left: -100px;
					left: 50%;
					img {
						display: block;
						margin-bottom: 15px;
					}
					.work-title {
						// .br();
						.text(2.6rem, 700, white);
						display: block;
					}
					.work-subtitle {
						// .br();
						.text(1.6rem, 700, white);
						display: inline-block;
					}
				}
			}
		}
	}
}

.fb-anal {
	background-color: @fb-anal-bg-color;
	.section-subtitle {
		h2 {
			.text(3.6rem, 700, white);
		}
		span {
			.text(2rem, 700, white);
			display: block;
		}
		img {
			margin: 20px auto;
			-webkit-background-clip: text;
			width: 64px;
			height: 64px;
			margin-bottom: 20px;
		}
	}
	&-form {
		background-color: white;
		display: inline-block;
		border-radius: 5px;
		position: relative;
		.form-cross {	
			.cross();
			span {
				&::selection {
				   background: transparent;
				}
				&::-moz-selection {
				   background: transparent;
				}
				&:hover {
					cursor: default;
				}
			}
		}
		span {
			.text(1.5rem, 400);
			display: inline-block;
			margin: 35px 60px;
		}
		.form-input {
			input {
				.input();
			}
		}
		.form-btn {
			input {
				.input-btn();
			}
		}
	}
}

.get-in-touch {
	background-color: @bot-bg-color;
	.section-subtitle {
		h2 {
			.text(2.9rem, 700, white);
		}
		margin-bottom: 18px;
	}
	.soc-media {
		margin-bottom: 18px;
		button, a {
			display: inline-block;
			width: 45px;
			height: 45px;
			background-color: transparent;
			border: 2px solid @footer-color;
			border-radius: 2px;
			&:hover {
				border: 2px solid @form-features-color;
			}
			margin: 12px;
			.box-icon {
				height: 22px;
				transform: translateY(40%);
			}
		}
	}
	form {
		.text(1.4rem, 400, #cecece, 'Open Sans');
		.form-input {
			display: block;
			background-color: @footer-color;
			// width: 443px !important;
			// width: 65%;
			height: 54px !important;
			border-radius: 2px;
			margin: 25px auto;
			border: 1px solid @footer-color;
			padding-left: 15px;
			&:hover, &:focus {
				border: 2px solid @form-features-color;
			}
		}
		.form-submit {
			width: 149px;
			height: 49px;
			background-color: transparent;
			border: 2px solid @footer-color;
			.text(1.7rem, 700, white, 'Helvetica');
			&:hover, &:focus {
				border: 2px solid @form-features-color;
			}
		}
	}
}

footer {
	background-color: @footer-color;
	.footer-text{
		.text(1.4rem, 400, white, 'Open Sans');
		padding: 25px 0;
		text-align: center;
		a {
			color: #9bd6f2;
		}
		a:hover {
			text-decoration: none;
		}
	}
}

@media (max-width: 767.5px){
	section {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.banner {
		background-position: 80%;
	}
	.approuch-block {
		width: 339px;
	}
	.inside-block {
		top: 100% !important;
		left: 50% !important;
	}
	.block-right {
		transform: translateX(-50%) translateY(-50%) !important;
	}
	.block-text {
		padding-top: 45px;
	}
	.fb-anal-form span {
		margin: 35px 25px;
	}
	.form-input input {
		width: 90% !important;
	}
}

@media (max-width: 372px){
	.banner button {
		width: 70vw;
		font-size: 70vw / 14;
		padding: 4vw 4vw * 2;
	}
	 .approuch-block {
		width: 90vw;
	}
	.approuch-block-img {
		img {
			width: 90vw;
		}
	} 
}