html {
  font-size: 10px;
}
input:focus {
  outline: none;
}
.header-navbar .brand-text-block {
  display: inline-block;
}
.header-navbar .brand-header {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 3.7rem;
  font-weight: 700;
  color: #424242 !important;
  display: inline-block;
  margin: -15px 0;
}
.header-navbar .brand-subhead {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #424242 !important;
  display: block;
}
.header-navbar ul > li a {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #424242 !important;
}
.header-navbar ul .divider:after {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #424242 !important;
  content: "";
}
@media (min-width: 992px) {
  .header-navbar ul .divider:after {
    content: "•";
  }
}
.header-navbar .header-btn {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff !important;
  background-color: #de2b24;
  padding: 6px 22px;
}
.header-navbar .header-btn:hover {
  background-color: #ca251e;
}
.banner {
  padding: 0px 0;
  background: #ffffff url(../img/banner.jpg) center center no-repeat;
  background-size: cover;
}
.banner h1 {
  padding-top: 170px;
}
.banner h1 strong {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  color: #ffffff !important;
}
.banner h1 span {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 3rem;
  font-weight: 300;
  color: #ffffff !important;
}
.banner button {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 2.3rem;
  font-weight: 700;
  color: #ffffff !important;
  text-transform: uppercase;
  padding: 20px 40px;
  background-color: #f8cd53;
  margin: 32px 0 236px;
  border-radius: 5px;
}
.banner button:hover {
  background-color: #f7c63a;
}
section {
  padding-bottom: 100px;
}
section .section-subtitle {
  margin-top: 100px;
  display: inline-block;
}
section .section-subtitle h2 {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 3.6rem;
  font-weight: 700;
  color: #424242 !important;
  margin: 0;
}
section .section-subtitle span {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: #424242 !important;
}
section .section-subtitle hr {
  width: 47px;
  height: 5px;
  background-color: #424242;
  margin: 14px auto 18px;
  text-align: center;
}
.services .content {
  text-align: center;
}
.services .content .service-block {
  text-align: center;
}
.services .content .service-block img {
  display: block;
  margin: 28px auto 28px;
}
.services .content .service-block h3 {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  color: #424242 !important;
  margin-bottom: 21px;
}
.services .content .service-block span {
  display: inline-block;
  width: 310px;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #424242 !important;
}
.slick-active {
  outline: none;
}
.arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  z-index: 99;
  width: 2rem;
  height: 2rem;
}
.arrow:focus {
  outline: none;
}
.left {
  left: 0;
  background: url(../img/left-arrow.svg) center no-repeat;
  background-size: 100%;
}
.right {
  right: 0;
  background: url(../img/right-arrow.svg) center no-repeat;
  background-size: 100%;
}
.approuch {
  background-color: #f3f3f3;
}
.approuch .approuch-block {
  display: inline-block;
  text-align: left;
  margin-top: 40px;
  border-radius: 5px;
  background-color: white;
}
.approuch .approuch-block .approuch-block-img {
  display: inline-block;
  position: relative;
  float: left;
  height: 236px;
}
.approuch .approuch-block .approuch-block-img .inside-block {
  position: absolute;
  display: table;
  width: 29.79351032%;
  height: 42.79661017%;
  border: 2px solid white;
  border-radius: 5px;
  background-color: #de2b24;
}
.approuch .approuch-block .approuch-block-img .inside-block .block-step {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.approuch .approuch-block .approuch-block-img .inside-block .block-step-number {
  font-family: Open Sans, sans-serif;
  font-size: 6rem;
  font-weight: 700;
  color: #ffffff !important;
  margin: -2rem 0 -3rem;
}
.approuch .approuch-block .approuch-block-img .inside-block .block-step span {
  display: inline-block;
  margin-top: 5px;
  font-family: Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #ffffff !important;
}
.approuch .approuch-block .approuch-block-img .block-left {
  margin-top: -50px;
  top: 50%;
  left: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.approuch .approuch-block .approuch-block-img .block-right {
  margin-top: -50px;
  top: 50%;
  right: 0%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.approuch .approuch-block .block-text {
  vertical-align: middle;
  display: inline-block;
}
.approuch .approuch-block .block-text h3 {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.8rem;
  font-weight: 800;
  color: #424242 !important;
  line-height: 2.6rem;
}
.approuch .approuch-block .block-text span {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #424242 !important;
  line-height: 2.2rem;
}
.work {
  background-color: #de2b24;
}
.work .section-subtitle {
  margin-bottom: 45px;
}
.work .section-subtitle h2,
.work .section-subtitle span,
.work .section-subtitle hr {
  color: white !important;
}
.work .section-subtitle hr {
  background-color: white;
}
.work-board .block-container {
  height: 253px;
  width: 255px;
  overflow: hidden;
  display: inline-block;
}
.work-board .block-container .board-box {
  display: inline-block;
  height: 253px;
  width: 255px;
  background-color: #f35e59;
  position: relative;
}
.work-board .block-container .board-box .work-block {
  position: absolute;
  display: inline-block;
  width: 200px;
  height: 120px;
  margin-top: -60px;
  top: 50%;
  margin-left: -100px;
  left: 50%;
}
.work-board .block-container .board-box .work-block img {
  display: block;
  margin-bottom: 15px;
}
.work-board .block-container .board-box .work-block .work-title {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 2.6rem;
  font-weight: 700;
  color: #ffffff !important;
  display: block;
}
.work-board .block-container .board-box .work-block .work-subtitle {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: #ffffff !important;
  display: inline-block;
}
.fb-anal {
  background-color: #1287bf;
}
.fb-anal .section-subtitle h2 {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 3.6rem;
  font-weight: 700;
  color: #ffffff !important;
}
.fb-anal .section-subtitle span {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff !important;
  display: block;
}
.fb-anal .section-subtitle img {
  margin: 20px auto;
  -webkit-background-clip: text;
  width: 64px;
  height: 64px;
  margin-bottom: 20px;
}
.fb-anal-form {
  background-color: white;
  display: inline-block;
  border-radius: 5px;
  position: relative;
}
.fb-anal-form .form-cross img {
  position: absolute;
  margin-top: -24.5px;
  left: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.fb-anal-form .form-cross span {
  position: absolute;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 3.2rem;
  font-weight: 300;
  color: #ffffff !important;
  width: 49px;
  height: 49px;
  margin: 0px;
  margin-top: -24.5px;
  left: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.fb-anal-form .form-cross span::-moz-selection {
  background: transparent;
}
.fb-anal-form .form-cross span::selection {
  background: transparent;
}
.fb-anal-form .form-cross span::-moz-selection {
  background: transparent;
}
.fb-anal-form .form-cross span:hover {
  cursor: default;
}
.fb-anal-form span {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #424242 !important;
  display: inline-block;
  margin: 35px 60px;
}
.fb-anal-form .form-input input {
  display: inline-block;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #424242 !important;
  width: 65%;
  height: 50px !important;
  border-radius: 2px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 0 5px rgba(18, 135, 191, 0.66);
          box-shadow: 0 0 5px rgba(18, 135, 191, 0.66);
  border: 1px solid #d8d8d8;
  padding-left: 15px;
}
.fb-anal-form .form-input input:active {
  border: 1px solid #1287bf;
}
.fb-anal-form .form-btn input {
  display: inline-block;
  text-align: center;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff !important;
  text-transform: uppercase;
  padding: 15px 25px;
  border-radius: 4px;
  background-color: #de2b24;
  margin: 30px auto 60px;
}
.fb-anal-form .form-btn input:hover {
  background-color: #ca251e;
}
.get-in-touch {
  background-color: #2a2a2a;
}
.get-in-touch .section-subtitle {
  margin-bottom: 18px;
}
.get-in-touch .section-subtitle h2 {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 2.9rem;
  font-weight: 700;
  color: #ffffff !important;
}
.get-in-touch .soc-media {
  margin-bottom: 18px;
}
.get-in-touch .soc-media button,
.get-in-touch .soc-media a {
  display: inline-block;
  width: 45px;
  height: 45px;
  background-color: transparent;
  border: 2px solid #515151;
  border-radius: 2px;
  margin: 12px;
}
.get-in-touch .soc-media button:hover,
.get-in-touch .soc-media a:hover {
  border: 2px solid #de2b24;
}
.get-in-touch .soc-media button .box-icon,
.get-in-touch .soc-media a .box-icon {
  height: 22px;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
}
.get-in-touch form {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #cecece !important;
}
.get-in-touch form .form-input {
  display: block;
  background-color: #515151;
  height: 54px !important;
  border-radius: 2px;
  margin: 25px auto;
  border: 1px solid #515151;
  padding-left: 15px;
}
.get-in-touch form .form-input:hover,
.get-in-touch form .form-input:focus {
  border: 2px solid #de2b24;
}
.get-in-touch form .form-submit {
  width: 149px;
  height: 49px;
  background-color: transparent;
  border: 2px solid #515151;
  font-family: 'Helvetica', sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  color: #ffffff !important;
}
.get-in-touch form .form-submit:hover,
.get-in-touch form .form-submit:focus {
  border: 2px solid #de2b24;
}
footer {
  background-color: #515151;
}
footer .footer-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #ffffff !important;
  padding: 25px 0;
  text-align: center;
}
footer .footer-text a {
  color: #9bd6f2;
}
footer .footer-text a:hover {
  text-decoration: none;
}
@media (max-width: 767.5px) {
  section {
    padding-bottom: 50px;
  }
  section .section-subtitle {
    margin-top: 50px;
  }
  .approuch-block {
    width: 339px;
  }
  .inside-block {
    margin-left: -50px;
    top: 100% !important;
    left: 50% !important;
    -webkit-transform: translateX(0%) !important;
            transform: translateX(0%) !important;
  }
  .block-text {
    padding-top: 45px;
  }
  .fb-anal-form span {
    margin: 35px 25px;
  }
  .form-input input {
    width: 90% !important;
  }
}
@media (max-width: 438px) {
  .banner button {
    width: 70vw;
    font-size: 5vw;
    padding: 4vw 8vw;
  }
  /* .approuch-block {
		// width: 90vw;		
		// height: 90vw * 236px / 339px;
	}
	.approuch-block-img {
		width: 90vw;		
		height: 90vw * 236px / 339px;
		img {
			width: 90vw;
			// height: 80vw * 236px / 339px;
		}
		.inside-block {
			// height: 29.5vw !important;
		}
		// height: 80vw * 236px / 339px;
	} */
}
